.imageWrap {
    position: relative;
    width: 90%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    transition: box-shadow .5s ease-in-out;
}

.imageWrap:hover {
    box-shadow: -2px 3px 32px 0px rgba(255,255,255,1);
}

.pokemon {
    width: 100%;
    height: 200px;
    object-fit: contain;
    transition: transform .7s ease-in-out;
}


.arrowLeft {
    position: absolute;
    top: 35%;
    left: 2%;
    color: #D6D6D6;
    cursor: pointer;
    transition: color, opacity .4s ease-in-out;
}

.arrowLeft:hover {
    color: white;
}

.arrowRight {
    position: absolute;
    right: 2%;
    top: 35%;
    color: #D6D6D6;
    cursor: pointer;
    transition: color, opacity .4s ease-in-out;
}

.arrowRight:hover {
    color: white;
}

svg {
    width: 50px;
    height: 50px;
    transition: color .3s ease-in-out;
}

svg:hover {
    color: 
}

svg * {
    width: 100%;
    height: 100%;
}